[2021-09-20 20:12] kennethcassel opened #1 "Make CONTRIBUTING.MD doc"
Need to add a doc showing how to contribute to the run-wasm. See example [here](https://github.com/github/docs/blob/main/CONTRIBUTING.md)

[2021-09-21 02:28] kennethcassel opened #3 "Figure out how to deploy example-nextjs to vercel"
We want to be able to automatically deploy changes to vercel for the `example-nextjs` folder.

The flow for local dev is:
1. Compile the code into esm / cjs via the command `yarn build` in the root directory
2. `cd example-nextjs`
3. Run `yarn` in the `example-nextjs` project. This uses the link method for the `run-wasm` dependency
4. `yarn dev`

When deploying to vercel, we're unable to use tsc t

[2021-09-21 20:30] bharat-patodi opened #6 "Update README to include steps for running the NextJS example"

[2021-09-22 00:59] kennethcassel opened #8 "Add Monaco code editor to the example-nextjs project"
Currently using a text area for the code input.

We should use a proper in-browser code editor.  Use the Monaco code editor instead of a text-area.
This package for using monaco easily with React looks like a good option https://github.com/suren-atoyan/monaco-react

[2021-09-22 01:00] kennethcassel commented on #8
Bonus points for adding it to the example react folder as well!

[2021-09-22 01:21] ntindle commented on #8
IMO Monaco is very much worth considering

[2021-09-22 01:36] kennethcassel commented on #8
Would be totally down for Monaco!

The idea here is:

1. Get a code editor in the example projects, so people can actually play around with writing and executing the code in browser
2. Evaluate which code editor we'd like to ship with the run-wasm library itself

Ideally I think the code editor we end up shipping with the library should be highly theme-able, easy to use, and well maintained.

Mona

[2021-09-22 01:39] kennethcassel commented on #3
Looks like this can be fixed by
using this as the build command in vercel

`yarn install && yarn build && yarn link && cd example-nextjs && yarn link run-wasm && yarn install && yarn build && next export `

[2021-09-22 01:40] ntindle commented on #8
I reviewed this extensively recently (past month) for a project for work. Those three are probably the best options. Which you choose depends on many things.

[2021-09-22 01:47] #3 closed

[2021-09-22 01:55] kennethcassel commented on #8
looks like Monaco is a good option. let's go with that. Going to update the issue.

The biggest knock against monaco was no mobile support, but it seems to have been recently fixed https://github.com/microsoft/monaco-editor/issues/246

[2021-09-22 02:55] kennethcassel opened #9 "Add link to GitHub in the example-nextjs project"
Add a link back to this GitHub repo so folks who visit the runwasm.com site can easily navigate here and contribute/view the project

[2021-09-22 04:02] govindgoel commented on #9
@kennethcassel I can take this up

[2021-09-22 07:08] sureshdsk commented on #3
Tried the same it works. but its only static export. nextjs apis will not work.

[2021-09-22 09:07] sureshdsk opened #11 "Handle error when python code execution fails"
I have used runPythonAsync method previously to handle errors and patched sys.stdout to capture python output. Although we can not get exact python exception from pyodide.

[code]

Can we make use of `runPythonAsync` instead of `runPython`?

[2021-09-22 12:06] kennethcassel commented on #8
Resolved with @nikolaystrikhar's pr

[2021-09-22 12:06] #8 closed

[2021-09-22 12:06] kennethcassel commented on #9
@govindgoel of course! Go for it :)

[2021-09-22 17:07] kennethcassel opened #13 "Add Typescript evaluation support"
Let's add another language to the project!

So far, we have Python via pyodide.

Need to start thinking about the API for how we'll load and run code from various different languages.

Happy to have someone add typescript evaluation support.

Seems like AssemblyScript is the go to for this. https://www.assemblyscript.org/examples/mandelbrot.html#example

[2021-09-22 17:08] mcintyre94 opened #14 "Will there be an NPM package?"
More of a future looking question than an issue really, but I'm just wondering if the plan is to eventually have an NPM package for run-wasm? It seems like currently it'll be quite tricky to integrate this into an existing repo and keep up to date with improvements here. Would the eventual plan be to just be able to `npm install run-wasm` or is there something blocking that?

[2021-09-22 17:15] kennethcassel commented on #14
Yeah we intend do have an npm package! Haven't gotten around to setting it up yet though. Need to look into it :)

I'll keep this issue open until we have one

[2021-09-22 17:29] kennethcassel commented on #11
Down to explore different ways to handle exceptions. Currently the client just crashes.

Not sure if patching on `sys.stdout` to the code is the best way to handle it or if there is a more native Pyodide way to do this.

[2021-09-22 17:31] ntindle opened #15 "Add language server support to Monaco implementation"
Language servers drive all the intelligence in modern code editors. Adding support for them would be lovely.

[2021-09-22 18:18] zacherygentry commented on #11
https://github.com/slipHQ/run-wasm/pull/17

[2021-09-22 18:26] kennethcassel opened #18 "Remove the create-react-app based example from project in favor of next.js approach"
Remove the `example` folder from the project.

We currently have two different examples (`example` and `example-nextjs`) but only deploy one.

Having two separate examples creates more overhead for maintaining the code.

[2021-09-22 19:15] kennethcassel opened #21 "Add wall of contributors to the readme"
I've seen other projects that highlight key contributors to the repo. Would love to add that to this repo

[2021-09-22 19:49] kennethcassel commented on #6
@zacherygentry fixed this with the pr #20

[2021-09-22 19:49] #6 closed

[2021-09-22 22:17] kennethcassel opened #24 "Make matplotlib work"
Make a simple matplotlib script work in example-nextjs

Should be able to get a simple example going https://matplotlib.org/stable/gallery/lines_bars_and_markers/lines_with_ticks_demo.html#sphx-glr-gallery-lines-bars-and-markers-lines-with-ticks-demo-py

I think we might need to use something besides the monaco code editor to display this code.

[code]

[2021-09-22 22:22] kennethcassel opened #25 "Remove video from README and replace with a short GIF of the project"
The video already is pretty outdated, a short gif showing the code execution would be cool in the readme

[2021-09-22 22:33] kennethcassel opened #26 "Change copy above the code editor in example-nextjs"
We should have a short description of the project above the code editor.

Kind of a weird experience to have it print out the code and language it's executing above the code editor.

Change the copy to better explain what a user can do with the project

[2021-09-22 22:50] mcintyre94 commented on #24
I was going to see if you were interested in getting this upstreamed!

I got this working by loading this Python code:

[code]

And adding a `<div id="canvas-figure" />` as output

Reference is this SO comment: https://stackoverflow.com/a/59571016/1375972

Caveats I haven't fixed yet:

- I get an error about it trying to add a context menu to a div that is `None`. Might just need to give it some m

[2021-09-22 22:59] mcintyre94 commented on #26
I was looking at this earlier too, do you think it'd be worth dropping the `RunWasm` function in src/index.tsx? There's probably no UI beyond the code editor that's going to be relevant to every consumer of run-wasm so IMO this belongs in `example-nextjs` instead.

[2021-09-22 23:06] kennethcassel commented on #26
I imagine RunWasm inside of src/index.tsx being a very basic code editor + output element that people can just drop into their website.

Folks who don't want to mess with the api but just want a place to embed a code snippet and have it be executable

[2021-09-22 23:19] #18 closed

[2021-09-22 23:20] #21 closed

[2021-09-22 23:30] kennethcassel commented on #24
Great info @mcintyre94!

A more meta question is:

What other languages or situations will require output in a canvas or similar element?

Is this something we want to handle at the language level or is there a higher level approach we can take which would solve this for, say Python, Ruby, typescript, etc

[2021-09-23 00:09] nikolaystrikhar commented on #25
I agree, but maybe it should be done a bit later after we have #26 sorted out.

[2021-09-23 04:16] S-codes14 commented on #13
you can also add react via [react-live](https://github.com/FormidableLabs/react-live)

[2021-09-23 04:23] S-codes14 commented on #25
done https://github.com/slipHQ/run-wasm/pull/27

[2021-09-23 05:31] kennethcassel commented on #25
Keeping this open since we still want a gif of the updates code editor

[2021-09-23 07:41] hatemhosny commented on #24
Hello,
Great project 👍

This is how I got matplotlib to work with Pyodide

https://dev.livecodes.io/?template=pyodide

(this is the unreleased development build of [LiveCodes](https://github.com/live-codes/livecodes))

The code sample does make use of `figure.canvas.create_root_element` and adds font-awesome icons.

I hope this helps.

[2021-09-23 07:50] hatemhosny commented on #13
may be this can guide in adding AssemblyScript

https://github.com/live-codes/livecodes/blob/49ec7656ef45f59945712763ef539ed2601277e7/src/livecodes/languages/lang-assemblyscript.ts

You can see it working here
https://dev.livecodes.io/?template=assemblyscript

[2021-09-23 08:21] hatemhosny commented on #13
In fact you can run the typescript compiler itself in the browser. But this compiles typescript to javascript not wasm.

Let me know if you want me to elaborate along that route.

[2021-09-23 08:35] mcintyre94 commented on #24
@hatemhosny Thanks for sharing, that looks great! LiveCodes looks really interesting too 👀

@kennethcassel that's definitely a good point. I noticed the AssemblyScript you linked in #13 has some cool canvas demos so I'm sure there'd be a similar issue there too around integration. Probably worth putting this on hold until we have a few languages working and can try to figure out if there's somethi

[2021-09-23 19:13] nikolaystrikhar commented on #9
Sorry, I forgot to mention this issue in my PR commit https://github.com/slipHQ/run-wasm/pull/28!

[2021-09-23 19:35] kennethcassel commented on #9
Thanks @nikolaystrikhar!

[2021-09-23 19:35] #9 closed

[2021-09-23 20:14] govindgoel commented on #9
Yeah no issues, I will take up another issue and get that done asap.
Thanks

[2021-09-23 23:06] hatemhosny opened #31 "language support (discussion)"
Hi,
Very nice project. Excellent work, indeed.
This comment is just for discussion and to ask about the scope of the project.

Do you plan to add more language support? I believe you do.

I have done some research about running different languages in the browser. I found a few patterns:

1. Compiling/transpiling to JavaScript, [e.g. TypeScript, CoffeeScript, LiveScript, ReScript, Reason, OCaml, Py

[2021-09-23 23:27] jsjoeio commented on #13
How difficult would this be to implement?

[2021-09-23 23:28] jsjoeio commented on #31
I would love to see support for TypeScript and Rust personally

[2021-09-23 23:37] kennethcassel commented on #31
Yeah we're explicitly trying to support wasm based languages, so option #3.

We think long term if we use wasm based languages across the stack we'll be able to focus and improve the experience overall across the language executions.

Tbh we don't know a ton internally about wasm _yet. _

We just know we want to build and improve on language execution in the browser via wasm long term. We're learn

[2021-09-23 23:37] #26 closed

[2021-09-23 23:49] nikolaystrikhar commented on #13
@hatemhosny I'm trying to play with it, but the problem is that with Python we just run the code and get it's output. And with AssemblyScript we can compile TS, use exported functions in js (like in example), but I'm stuck on the next step.

How can I run the TS code instead of compiling it? I spend a few hours on it, but can't find any info. Maybe I'm too tired already.

Let me know if you find s

[2021-09-23 23:58] hatemhosny commented on #31
thanks @kennethcassel , that's very clear and reasonable. 🙏

[2021-09-24 00:24] zackradisic opened #32 "Go language support"
Hey, I recently found the [goscript](https://github.com/oxfeeefeee/goscript) package which is a Go interpreter written in Rust which can be compiled to wasm and used to interpret and run Go code in the browser. I whipped up a quick demo you can try out [here](https://go-playground-wasm.vercel.app/).

There are some considerations though:
1. Only the `fmt` package from the Go std lib is supported a

[2021-09-24 00:55] jsjoeio commented on #13
I wonder if we can draw from the TypeScript Playground like [this one](https://github.com/fabiandev/typescript-playground) for example?

[2021-09-24 01:06] jsjoeio commented on #13
Argh, I wish I knew where to start to be able to contribute more. Basically, we need way to evaluate TypeScript code in the browser right?

Any tips for where to start?

[2021-09-24 01:23] nikolaystrikhar commented on #13
@jsjoeio I spent several hours playing with assemblyscript, but have not found the way to do it with. Maybe I'm not smart enough, it's not my current stack, but even their example on the home page shows that you can export, but not transpile. Or at least I have not found the way.

So maybe it was not the right way from the beginning. But I think someone must check it as well as I'm not confident a

[2021-09-24 01:37] jsjoeio commented on #13
I don't know if I'm smart enough to figure it out either but at least you tried 😂

Yeah, sounds good. Would LOVE to see this implemented so hopefully someone smarter can give us pointers.

[2021-09-24 01:38] kennethcassel commented on #13
@nikolaystrikhar how about instead of wondering if you're not smart enough, we all assume we all have the capability of implementing this feature!

It might take more digging, experimenting, debugging, than a few hours.

Maybe it takes understanding the difference between JS, TS, AssemblyScript, WASM and/or the related tooling.

Point being is there is always some way to approach and find a soluti

[2021-09-24 01:45] jsjoeio commented on #32
Your demo is slick! I don't use Go yet, but would love to see this supported!

[2021-09-24 01:46] jacobjzhang opened #33 "Pyodide intermittently not loading, causing Run button to not load"
The `pyodide` package intermittently doesn't loading, causing `Run Code` button to not load.

![image](https://user-images.githubusercontent.com/6591285/134605760-a20b9379-c9cc-48ed-b701-c38bec6cf82e.png)

We can either change the logic of the `Run Code` button to load separately from the language dependencies-- probably not advisable since it's useless without it, or have some guarantee/retry for

[2021-09-24 01:47] kennethcassel commented on #13
Zack mentioned possibly being able to use the swc.rs wasm build target to do TS evaluation.

Essentially you'd use the wasm based swc.rs to transpile TypeScript into Javascript in the browser and then run the JS through `eval()`

[2021-09-24 01:49] kennethcassel commented on #32
How does using this compare to something like https://github.com/tinygo-org/tinygo?

[2021-09-24 03:01] zackradisic commented on #32
The main thing that compelled me to bring up goscript is that it is an interpreter so the Go code doesn't have to be compiled. If you try the tiny-go [playground](https://play.tinygo.org/) and open the network tab its compiling the code on a server and sending back the wasm for the client to run. This can be very appealing since it means getting Go to work with the library is painless.

That being

[2021-09-24 03:03] hatemhosny commented on #13
I am by no means a WebAssembly or AssemblyScript expert, but these are what I have learnt in the past few months:

- [WebAssembly must currently be loaded and compiled by JavaScript](https://webassembly.org/getting-started/js-api/). WebAssembly also does not have access to the DOM and the rest of web APIs, so JavaScript code has to provide that.
- Pyodide is already doing that for us, through its

[2021-09-24 13:07] kennethcassel commented on #32
The tiny-go docs say it's compiling and running in the browser
![image](https://user-images.githubusercontent.com/22961671/134679165-cb478e29-35c5-49ee-bc62-ccc74df1dce7.png)

[2021-09-24 14:27] kennethcassel commented on #33
This might be a good clue for someone looking into fixing this:

When running locally, getting this issue on first load

![image](https://user-images.githubusercontent.com/22961671/134691231-5bab56fe-696d-40b5-a30d-b377ac8d0200.png)

[2021-09-24 14:50] jsjoeio commented on #1
Can I pick this one up?

[2021-09-24 14:51] jsjoeio commented on #25
Can I work on this one?

[2021-09-24 14:56] kennethcassel commented on #25
Would love that @jsjoeio!

[2021-09-24 14:57] kennethcassel commented on #1
@jsjoeio please do!

[2021-09-24 16:34] mcintyre94 commented on #33
That's weird, those are the changes I made when I updated the example to Pyodide 0.18.1 and they seemed stable!

[2021-09-24 23:19] #25 closed

[2021-09-24 23:40] #1 closed

[2021-09-25 00:18] Dhaiwat10 commented on #31
I would love to see TS support as well. All of this is quite overwhelming to me, tbh. Took me a good few hours to get _some_ understanding of how this works.

If I'm not wrong, if we were to work on trying to add TS ( / AssemblyScript) support, we'll need a TS equivalent of Pyodide?

[2021-09-25 01:34] kennethcassel commented on #31
@Dhaiwat10 I think most of us are learning! A great place to start is https://wasmbyexample.dev to learn more about how the web and wasm interact.

For TS I think it's somewhat of a special case (since JS runs natively in the browser). We could go down AssemblyScript route or we could go the route of allowing a user to write TS, compile, then show the output through a javascript evaluation in brow

[2021-09-25 01:36] kennethcassel commented on #13
My preference would be for allowing users to have as close to a "real" typescript experience as possible. I think allow users to write TypeScript, then compile and evaluate would be the move I'd most prefer.

This is different than pyodide, but JS is a special case.

Also, preference for swc vs TypeScript compiler is around speed.

[2021-09-25 01:38] jsjoeio commented on #33
I'm seeing this as well.

## Screenshot

![image](https://user-images.githubusercontent.com/3806031/134753523-7a2c0218-5952-41f8-85bc-3276671c71a6.png)

## Stack Trace

[code]

I don't know if it has to do with AdBlockers or what but when I turn off the shield with Brave, the button appears 🤷🏼‍♂️

[2021-09-25 01:38] kennethcassel opened #37 "Add a list of resources for folks to get familiarized with WASM"
Seeing lots of interest in the OSS project and most folks have no WASM experience (which is totally fine! ✨)

Would love to add a curated list of resources that people have found helpful for learning about the WASM ecosystem and how it plays into language execution in the browser.

This could be added to the readme or the CONTRIBUTING.MD

One of my favorites so far is https://wasmbyexample.dev

[2021-09-25 01:58] nikolaystrikhar commented on #33
I can confirm that, but it's not about the browser.
Yesterday I had a lot of issues with the script loading, about 10% of requests failed, today I tried to sort it out and never had any issue with loading. So my guess is that CDN does not work well.

I also tried to download Brave, but didn't have any issues as well.

@jsjoeio  what do you see in network requests regaring pyodide when it fails?

[2021-09-25 03:04] jsjoeio opened #39 "Add JavaScript evaluation support"
I think a solid first step, before https://github.com/slipHQ/run-wasm/issues/13 (at least the way I'm thinking about it), is to add support for JavaScript since it's relatively straightforward since JS <-> Browser === ❤️

## How it works

At a high-level, it works similarly to the current implementation for Python:
- user provides input
- user hits run button
- input -> client to run code -> saves

[2021-09-25 03:27] Dhaiwat10 commented on #39
Thanks for putting this together @jsjoeio!

I think we should def look into this & see what are the benefits of compiling it to Wasm. Anything we learn from there will probably help us get a clearer picture of what Wasm actually does & how it is being used in this project.

[2021-09-25 03:34] jsjoeio commented on #39
Agreed! Someone on Twitter mentioned Wasmer and I found this tutorial:

[link](https://docs.wasmer.io/integrations/js/wasi/browser/examples/handling-io)

It's almost like we want:
- input to be any language [JS, Ruby, Rust, etc.]
- some tool/library to transform [lang] -> WASM
- tool/library to evaluate WASM -> spit out output

I think that would be the best thing to have rather than having these

[2021-09-25 03:35] jacobjzhang commented on #39
To clarify, we're talking about TS -> wasm, right? I was recently catching up via this [old chat with some of the Mozilla team](https://kentcdodds.com/chats-with-kent-podcast/seasons/01/episodes/the-state-of-webassembly-with-lin-clark-and-till-schneidereit) where they call out some downfalls of JS -> wasm (grep for "One of the biggest issues there is to get strings from WebAssembly to JavaScript,

[2021-09-25 03:56] jacobjzhang commented on #33
I took a stab at this, not sure what it is but a few findings:

1) The [indexURL](https://pyodide.org/en/stable/usage/api/js-api.html?highlight=indexURL#globalThis.loadPyodide) appears to be intermittently down:

![image](https://user-images.githubusercontent.com/6591285/134756997-f937cfa0-cb12-4eb0-9ee1-1c0132a97ded.png)

2) It seems we may want [`beforeInteractive`](https://github.com/vercel/nex

[2021-09-25 07:40] mcintyre94 commented on #33
@nikolaystrikhar

That's a big clue! If you're seeing a successful request to the CDN and then that error, then it must be something to do with that code loading that's causing an issue and not the CDN itself.

@jacobjzhang

I think this is probably a red herring, CDNs tend to serve 403 forbidden to any request that isn't a file to prevent attacks. The `indexUrl` is a directory but I suspect that

[2021-09-25 07:40] kennethcassel commented on #39
Wasmer seems very cool but from what I can tell it's a wasm runtime for many different languages. Which is different than "a way to run many languages via wasm"

So it basically would let you interact and run wasm based tools not only on the browser, but in a go or Python program. (Though I may be wrong about it's full capabilities).

I'd say that flow you stated is pretty close to what we're look

[2021-09-25 07:45] Dhaiwat10 commented on #13
I've hacked a prototype-ish for this. This does not support type-checking etc but it does **transpile** the TS code into JS, runs it & spits out the result.

[code]

[2021-09-25 07:51] Dhaiwat10 commented on #13
This is not _really_ compilation tho. And it's probably slow if put under stress. But I think it's something to start from.

[2021-09-25 07:57] Dhaiwat10 commented on #13
I just saw that you prefer swc. That's probably a good call. I think I'm gonna see if we can run that in the browser & get back to you folks here. :)

[2021-09-25 07:58] Dhaiwat10 commented on #39
You might want to have a look at this for JS evaluation!

https://github.com/slipHQ/run-wasm/issues/13#issuecomment-927057590

[2021-09-25 08:25] mcintyre94 commented on #33
I've opened a PR with the `beforeInteractive` + `useEffect` approach, the preview is here: https://run-wasm-git-fork-mcintyre94-fix-pyodide-load-sliphq.vercel.app

It'd be great to get as many 👀  as possible on it to make sure nobody's seeing any similar issues with it and that it's still fast.

[2021-09-25 09:53] hatemhosny commented on #31
Here are nice resources for different language support
https://github.com/appcypher/awesome-wasm-langs
https://github.com/mbasso/awesome-wasm

These seem relatively easy to implement:

- PHP: https://github.com/oraoto/pib
[demo](https://dev.livecodes.io/#code/N4IgLglmA2CmIC4QAUASyAEEB2GDqAggMoCyIANCACawDOAxgE4QAOkA9toiBeAIYBzWogDaAXUp96kAG6wAolSjtG3ALZ9GAawCuLXhu17EoaH2wCdg+EgAWYNdF71OYWNjDcAPA2Zs

[2021-09-25 13:25] Dhaiwat10 commented on #13
^^^ I built a basic UI around this, if anyone's interested in trying this out.

https://ts-sandbox.vercel.app

https://github.com/dhaiwat10/ts-sandbox

[2021-09-25 13:51] #33 closed

[2021-09-25 14:52] jsjoeio commented on #33
I tested with Brave on my phone just now and it worked!

![Screenshot_20210925-075145](https://user-images.githubusercontent.com/3806031/134775677-a610b719-48e9-4b1c-af3d-e98c2e6ff0fa.png)

[2021-09-25 15:03] kennethcassel commented on #24
Great work on this @mcintyre94!

Closed with PR #41

[2021-09-25 15:04] #24 closed

[2021-09-25 15:04] jsjoeio opened #42 "Add Jest for unit testing"
What are everyone's thoughts around adding Jest for unit test `src`? (Not the Next.js site, but that could come later)

Would you accept a PR if I added this?

[2021-09-25 16:31] kennethcassel commented on #42
Yup this is cool :) def would accept a pr adding tests to the library!

[2021-09-25 17:01] kennethcassel opened #43 "Fix pyodide loading without using beforeInteractive loading strategy"
Using beforeInteractive in the next.js script component fixed the pyodide loading issue but now the experience of using the site is frustrating.

Site does the initial render but you can't scroll until pyodide loads.

Ideally we'd have some sort of loading indicator and let a user scroll on the site instead of making it hang

[2021-09-25 17:10] kennethcassel opened #44 "Matplotlib doesn’t work on mobile Safari"
![image](https://user-images.githubusercontent.com/22961671/134780221-e2436e71-b7fc-4545-a6dc-cde92037472d.jpeg)

Need to add some styling and figure out why graph isn't appearing when ran on mobile safari.

Haven't tested other mobile browsers

[2021-09-25 18:30] mcintyre94 commented on #43
Ah that's rubbish, sorry! Do you see this on desktop browsers or only mobile? I'm only seeing it on iOS (don't have any other devices to check it on), but it seems okay on desktop:

https://user-images.githubusercontent.com/1711350/134782506-cdb2752d-44a1-4291-ad57-9f1b99157798.mov

In terms of loading indicators I did add something very basic for the matplotlib one:

https://user-images.githubuse

[2021-09-25 18:34] kennethcassel commented on #43
Ah okay shouldn't have just assumed it was due to beforeInteractive.

I'm only seeing it on iOS mobile safari.

[2021-09-25 18:38] kennethcassel commented on #13
This is really cool @Dhaiwat10! getting close 🔥

A comparison between this and using swc and any downsides/trade offs between the two would be great for deciding ultimately which approach to use.

Thanks a lot for working on it

[2021-09-25 19:50] mcintyre94 commented on #44
I suspect this one's going to be tricky, looks like the same issue in desktop Safari:

<img width="806" alt="Screenshot 2021-09-25 at 20 49 22" src="https://user-images.githubusercontent.com/1711350/134784418-dce7a560-9721-41c4-88d2-53c418049554.png">

[2021-09-25 19:57] mcintyre94 commented on #43
I made a create-react-app project that has a `useEffect` fetching http://httpbin.org/delay/10 and then updating UI - on iOS Safari scrolling stays responsive (and the default spinning logo keeps spinning) during that delay. So my best guess is that the CPU is getting throttled during the load, which seems.. surprising for iOS.

Out of interest what device are you seeing this on? I'm on an iPhone X

[2021-09-25 20:36] kennethcassel commented on #43
I'm on iPhone XS 14.71

[2021-09-25 20:59] mcintyre94 commented on #43
Pretty similar then, probably the same CPU. It’d be good to hear from someone on a newer device or any android device to see if we can narrow it down at all.

[2021-09-25 21:29] kennethcassel commented on #44
Tricky sounds fun :) knowing this is an issue on safari in general narrows it down a lot.

[2021-09-25 21:45] mcintyre94 commented on #44
Indeed! These are the console errors when running the default plt code:

[code]

`Invalid argument type in ToBigInt operation` is probably our best clue

[2021-09-25 22:03] mcintyre94 commented on #44
Throwing a breakpoint in at `[Error] TypeError: Invalid argument type in ToBigInt operation — pyodide.asm.js:54990`

Function is:

[code]

It gets hit first with these local variables:

[code]

And then it throws that error. That function might mean more to you than it does to me because I don't yet know anything about wasm :)

[2021-09-26 01:21] zackradisic commented on #32
Hmm that's weird, think it's just vague wording on the docs, I poked around the TinyGo playground's source code and I see that they setup an `/api/compile` route [here](https://github.com/tinygo-org/playground/blob/master/main.go#L80) which runs the `tinygo` cli on the [server](https://github.com/tinygo-org/playground/blob/master/compiler.go#L124).

Here's the network tab of Chrome devtools where

[2021-09-26 01:36] zackradisic commented on #39
Just wanted to chime in and say that there is not any current way to compile js to wasm, you can read about why that it is [here](https://github.com/WebAssembly/design/issues/219). If we wanted to go the wasm route we would have to compile a JavaScript interpreter to wasm, here's an extensive [list](https://github.com/WebAssembly/design/issues/219) of the ones we could use. Most already have build

[2021-09-26 02:51] quackduck commented on #32
Why not have the actual go compiler compile to wasm? Go does have wasm support!

[2021-09-26 03:30] zackradisic commented on #32
TinyGo is preferred because it strips some of the runtime bloat since go wasm binaries are known to be c h o n k y, but none of these can be used if we want to only run Go in the browser without any server-side compilation. For that we would need a Go interpreter (goscript), or some Go compiler that can be compiled to wasm so we can compile the Go code on the client side in the browser.

[2021-09-26 06:53] zackradisic commented on #13
Main benefit for swc should be speed, but now that I think about it the difference in speed will probably negligible for small code snippets targeting es6 syntax with no optimizations, you can see in @Dhaiwat10's example very fast. Also swc doesn't type check, which could be a deal breaker.

Would still like to try out and benchmark swc against tsc just for fun,  will play around with that tomorro

[2021-09-26 09:06] Dhaiwat10 commented on #13
@zackradisic I'm not really sure how to stress-test this. Looking forward to hearing from you about swc. Let me know if you find a way to run it in the browser!

[2021-09-26 13:35] kennethcassel commented on #13
Ah didn't realize swc didn't type check. This makes me want to go with the regular TS compiler instead

[2021-09-26 14:02] kennethcassel commented on #32
I think we just ship goscript and then long term experiment on figuring out a way to either add more libs or find support for tinygo!

Ship and iterate is the move 🥷

[2021-09-26 14:39] kennethcassel commented on #13
@Dhaiwat10 if you wanted to make a PR with your current approach, we'd merge it in :)

The trade offs would be cool to know but now knowing swc doesn't do type checking, it makes sense to use your approach instead!

[2021-09-26 14:58] zackradisic commented on #32
Sounds like a good plan 🚢 ♻️

I can port over some of my existing code from my demonstration, any specific way you want me to do it? Perhaps we should setup a monorepo multiple-package type structure, I think it would be good to have each of these languages in its own package because wasm binaries can be a bit big

[2021-09-26 15:03] zackradisic commented on #13
Yeah, I second the choice on tsc. For those still interested in seeing swc in action I forked @Dhaiwat10's playground and added swc transpilation support. Check it out [here](https://ts-sandbox-swc.vercel.app/). swc is on the order of 8-10x faster than tsc, but for small files that means something like 4ms vs 32ms which is hardly perceivable.

[2021-09-26 15:12] kennethcassel commented on #32
Yeah that's a good question.

I think having a common api across languages is good but that shipping the whole binary for every language is a little unnecessary for folks who want to only execute Python for example.

Maybe we should make the user load the binaries via cdn on the front end and they can choose which they want to import?

Or we could look at patterns that other similar libraries do t

[2021-09-26 15:35] jsjoeio commented on #39
Talking to @dwwoelfel and @sgrove about JS evaluation and they said they use [`quickjs-emscripten`](https://github.com/justjake/quickjs-emscripten). Reasons why they chose this:
- There's *no* way for it to escape the sandbox
- There aren't a ton of other options with the same level of sandboxing

[2021-09-26 16:14] #42 closed

[2021-09-26 16:20] zackradisic commented on #32
So what I was thinking is we have `@slip/run-wasm` which is the "core" package and has the main `RunWasm` component, then each language can expose a class or an object that can interface with that component, imported like `@slip/run-wasm-go` or `@slip/run-wasm-ts`.

Then when using the library you do something like this:
[code]

What do you guys think about this?

[2021-09-26 17:26] kennethcassel commented on #32
Yeah I'm down with this approach!

[2021-09-26 19:28] kennethcassel commented on #44
Great info! I'll try to dive more into this tomorrow also :)

Thanks for all the details.

Another good place to look is issues in the pyodide repo talking about safari

[2021-09-26 20:17] Dhaiwat10 commented on #13
Sounds good. I'll make a PR soon 👍

[2021-09-26 23:59] quackduck commented on #32
OOh, found this on the Gopher slack: https://github.com/open2b/scriggo

Do you think that could come in handy?

[2021-09-27 01:58] kennethcassel opened #47 "Add Rust language evaluation"
Add Rust evaluation to the library.

See #32 for a conversation on adding Go, which might be similar to adding Rust, in that it's a compiled language

[2021-09-27 06:06] mcintyre94 commented on #44
I did take a look at their issues and couldn't find anything that looked super close to this. Might have missed it though, seems weird if we're the first to hit this.

There are fixed Safari issues in previous versions though, so hopefully worst case we can get a fix upstream there. Eg. If you've tried the iodide notebooks in Safari they're on version 0.15.0 and fail when you try to import any pac

[2021-09-27 10:34] zackradisic commented on #32
Amazing find @quackduck !! Scriggo has far more [complete](https://scriggo.com/templates/builtins) support for Go's stdlib. Scriggo's playground is already using wasm so I'll definitely try taking a look at that and getting it working 👍

[2021-09-27 15:19] #13 closed

[2021-09-27 16:00] Dhaiwat10 commented on #13
Hey, @kennethcassel there's still one issue that we need to look at. Atm, even if the code has invalid types, the editor will show the errors but the code will still execute. We need to address that! I was planning on fixing this tomorrow but I saw you merged the PR, no worries! But we def need to address this. (or do we? Your call, haha!)

[2021-09-27 16:18] kennethcassel commented on #13
Haha yeah you can fix it! I like to ship and iterate. What you have works but like you said is missing a big piece of the puzzle.

I'll open a separate issue for that!

[2021-09-27 16:19] kennethcassel opened #52 "Typescript will execute code even if there are type errors"
Hey, @kennethcassel there's still one issue that we need to look at. Atm, even if the code has invalid types, the editor will show the errors but the code will still execute. We need to address that! I was planning on fixing this tomorrow but I saw you merged the PR, no worries! But we def need to address this. (or do we? Your call, haha!)

_Originally posted by @Dhaiwat10 in https://github.com/sl

[2021-09-27 16:23] Dhaiwat10 commented on #52
Adding a bit of context. We're currently _transpiling_ the TS code into JS & then eval'ing it. Not _compiling_ it. This is why in case of type errors, the editor will correctly signal that there's an error but the code will regardless be executed.

[2021-09-27 16:27] kennethcassel opened #53 "Fix fathom analytics"
Need to complete Fathom Analytics setup so we can measure traffic on the runwasm.com site

The fathom analytics dashboard for runwasm.com is here: https://app.usefathom.com/share/pecjvoqv/runwasm.com

Documentation for adding it to a next.js project is here: https://usefathom.com/docs/integrations/next

[2021-09-27 16:48] kennethcassel commented on #42
btw thanks for streaming the process! @all-contributors add @jsjoeio for his awesome twitch content :)

[2021-09-27 17:07] mcintyre94 commented on #52
Not sure if changing to compiling is easy, ignore me if it is! But if it's tricky then it looks like there's an API to get the errors from the editor `getModelMarkers()`: https://microsoft.github.io/monaco-editor/api/modules/monaco.editor.html#getmodelmarkers

So we could use that to disable the run button in the example if there are errors as a short term fix.

[2021-09-27 17:55] kennethcassel commented on #53
Fixed with #55 :)

[2021-09-27 17:55] #53 closed

[2021-09-27 17:55] nikolaystrikhar commented on #53
<img width="1312" alt="Screenshot 2021-09-27 at 19 55 24" src="https://user-images.githubusercontent.com/4025589/134960221-a348190f-ecc0-4751-9c80-237b896087e8.png">

Woohoo :-)

[2021-09-27 23:37] zackradisic commented on #52
I noticed the other day that swc and `ts.transpile()` both didn't typecheck and found [this](https://github.com/Microsoft/TypeScript/issues/7402), says we need to use `ts.createProgram()`. Haven't tried it but there's an example [here](https://github.com/microsoft/TypeScript-Website/tree/v2/packages/typescript-vfs#a-full-example) that looks simple enough to implement

[2021-09-28 01:24] hatemhosny commented on #52
@zackradisic that's true.
based on [this](https://stackoverflow.com/a/53764522): [here is a basic demo](https://dev.livecodes.io/#code/N4IgLglmA2CmIC4QBUCeAHWBnAxgJwnTAAIATCAQwHMA7Aey0hyxABoRTt9DI6bEQbcNRYIA2oIC67CjkgA3WAFFyYOngG4CRIQFsKeANYBXdIlDQKNKserwkACzC7oQnHzCwaYAQB4tPMRYeDgAvAA6IE5g6FgIAPTxxjTohlQAdO668WAYXNpgAAIALOkAzOXx0BAARjl5AUQAyrB48hA42OkAVliRAHy+8Y1g/eE0vuh4sMQQpBEgdMYxywNDU7Bj/Ozu3

[2021-09-28 02:12] Dhaiwat10 commented on #52
Correct me if I'm wrong — the `ts.getPreEmitDiagnostics(program)` method only does type-checking & doesn't actually compile/transpile the code, right? If yes, we have two options:

1) Compile the code using the approach @zackradisic shared. (I'm assuming that would include type-checking)
2) Do type-checking using your code & only _then_ transpile the code.

Which option looks better? Open to heari

[2021-09-28 02:13] Dhaiwat10 commented on #52
I'm caught up in two minds because I'm not sure if compiling is significantly slower than transpiling. I have no knowledge/experience about this. 😅

[2021-09-28 02:31] hatemhosny commented on #52
Yes, that's right.

It depends what behavior we want. I think type-checking followed by transpile if it succeeds is a reasonable approach so long as we show the user clear messages for what went wrong.

Another approach would be allowing the library user to choose by setting an API option.

https://stackoverflow.com/questions/44931479/compiling-vs-transpiling
Technically typescript is a transpiler

[2021-09-28 02:35] kennethcassel commented on #52
I agree here! This seems like a good approach.

[2021-09-28 02:44] kennethcassel opened #59 "Add OG Image to next.js project"
Big believer that design and good style can help elevate an OSS project.

It'd be great to have this image added as an Open-Graph image so folks will see the logo when the link is shared in various places.

![run-wasm-logo](https://user-images.githubusercontent.com/22961671/135013980-1819abf7-2d05-4b18-b14f-faa83a4c9e62.png)

[2021-09-28 09:32] mcintyre94 opened #60 "Add SQLite language evaluation"
**Is your feature request related to a problem? Please describe.**
Nope, but it'd be sweet! I'd definitely be able to make use of this on my running dashboard, but "I want to do more wacky hacks" probably doesn't count as a problem :)

**Describe the solution you'd like**
We should add sql as a supported language! You'd be able to run sql queries on an in-memory database in the browser and view th

[2021-09-28 11:48] kennethcassel commented on #60
Love the idea :) sql.js looks cool and lots of folks would benefit from being able to run sql with this lib

[2021-09-28 11:48] kennethcassel commented on #52
Awesome, go for it @Dhaiwat10 :)

[2021-09-28 14:42] hatemhosny commented on #60
This might give you a starting point: https://github.com/live-codes/livecodes/blob/d9be82ae11b282c225af3056b45920c58536565e/src/livecodes/languages/lang-sql.ts

Demo: https://dev.livecodes.io/?template=sql

[2021-09-28 15:19] hatemhosny commented on #43
[BrowserStack](https://www.browserstack.com/) offers free plan for open source projects.

This can help in testing across multiple devices

[2021-09-28 18:42] kennethcassel opened #63 "Add PHP support"
@nikolaystrikhar  built a proof of concept for adding PHP support. #57

Would love to get this work merged in but need to find a good approach for bundling the wasm modules with the lib. Zack mentioned a good approach here -> https://github.com/slipHQ/run-wasm/issues/32#issuecomment-927331589

[2021-09-28 19:59] pouannes commented on #59
Hey Kenneth, can I pick up this issue?

[2021-09-28 20:23] kennethcassel commented on #59
Go for it!

[2021-09-28 22:10] #59 closed

[2021-09-29 03:00] ntindle commented on #31
Another project I contribute to [The Arcane Algorithm Archive](https://www.algorithm-archive.org/) has a rather extensive list of languages that people contribute in. I would love to try and support most of them so we can finally close [our issue on running the examples in the browser.](https://github.com/algorithm-archivists/algorithm-archive/issues/850)

Our list of languages we support is visib

[2021-09-29 09:29] Dhaiwat10 opened #67 "Improve TypeScript/JS code evaluation security"
**Is your feature request related to a problem? Please describe.**
We are currently using [`eval`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval) to run the code. People strongly recommend against using it, though: [Why is using the JavaScript eval function a bad idea?](https://stackoverflow.com/questions/86513/why-is-using-the-javascript-eval-function-a-bad

[2021-09-29 13:51] #52 closed

[2021-09-29 18:07] hatemhosny opened #68 "add lib support for TypeScript type checking"
Currently typescript type checking reports a lot of errors because it does not account for Web APIs.

This is the cause for having to [add this](https://github.com/slipHQ/run-wasm/blob/f5844edb5184eb73448de2ef17cb6cfddb04c052/src/RunWasmClient.ts#L125) to ignore reference to console. But this way we also get errors for reference to `window`, `document`, `alert`,...etc
[demo](https://dev.livecodes.

[2021-09-29 18:16] mcintyre94 opened #69 "Some missing functions (eg new Date, JSON.stringify) in TypeScript"
**Describe the bug**

There seems to be some functions that are available in the browser/TS playground but aren't available in our run-wasm TS compiler. So far I've noticed it with `Date` and `JSON`.

**To Reproduce**

1. Go to https://www.runwasm.com/ts
2. Type `console.log(new Date())` in the input
3. Click Run code

**Expected behavior**

Output should display a date eg. `Wed Sep 29 2021 19:03:

[2021-09-29 18:29] mcintyre94 commented on #68
Ah snap, I just opened https://github.com/slipHQ/run-wasm/issues/69 at the same time which is a dupe of this! I figured out `lib` was missing from compiler options but adding them wasn't working. Your link here is extremely helpful and shows exactly what I needed to use to get them working, thankyou! :) Also good to see that the only required option seems to be `lib`.

[2021-09-29 19:28] hatemhosny commented on #68
I agree

[2021-09-29 20:48] kennethcassel opened #70 "Add dark mode to runwasm.com"
**Is your feature request related to a problem?
Yes, when I view the site at night I feel like I should be wearing sunglasses.

**Describe the solution you'd like**
A darkmode toggle for the site.

**Describe alternatives you've considered**
I've considered wearing sunglasses to view the site at night.

**Additional context**

Here is a screenshot of a color palette we are probably going to use at

[2021-09-29 21:42] pouannes commented on #70
I'll take it :) I'll probably use [next-themes](https://www.npmjs.com/package/next-themes) if that's fine with you

[2021-09-29 21:46] shadab14meb346 commented on #70
I am also interested in taking this.

[2021-09-29 21:48] kennethcassel commented on #70
I think tailwind dark mode should be sufficient https://tailwindcss.com/docs/dark-mode

[2021-09-29 21:51] pouannes commented on #70
@shadab14meb346 you can take it if you want :)

[2021-09-29 22:08] devonzara commented on #70
Likewise, I can take it if nobody else does. Should be pretty easy to implement with Tailwind.

[2021-09-30 02:25] kennethcassel opened #71 "Output box should be read only"
**Describe the bug**

You can type in the code output box, it should be read-only
**To Reproduce** Steps to reproduce the behavior:

Run a code execution.

Type in the output box

**Expected behavior**
Output box should only let you read the code, not edit it

https://user-images.githubusercontent.com/22961671/135375440-0d5838d4-3353-4460-b982-38991b53b965.mov

[2021-09-30 02:37] kennethcassel commented on #71
Closed with #72 :)

[2021-09-30 02:37] #71 closed

[2021-09-30 02:38] kennethcassel commented on #69
Some great info in #68 on this for anyone onlooking

[2021-09-30 03:20] KagenLH commented on #68
Is somebody already working on this? If not I'd like to fork and try to implement the fix mentioned in the discussion of this thread.

[2021-09-30 06:38] mcintyre94 commented on #68
@KagenLH I was going to shortly but haven't started so please go ahead :)

[2021-09-30 08:48] shadab14meb346 commented on #37
I find [this](https://github.com/mbasso/awesome-wasm) GitHub repo having a lot of great resources for WASM.

[2021-09-30 09:06] shadab14meb346 commented on #43
For me, scrolling is frozen on during only the `Loading Pyodide...`

Using it on mobile google chrome.
I am on Andriod below are my phone configs.
![WhatsApp Image 2021-09-30 at 2 32 23 PM](https://user-images.githubusercontent.com/31199288/135422775-e45238d4-6da9-438a-a22a-6f9775f80513.jpeg)

[2021-09-30 13:19] #70 closed

[2021-09-30 13:40] kennethcassel opened #75 "Screen flashes when changing pages in dark mode"
**Describe the bug**
In dark mode, the screen flashes when navigating to a new page

**To Reproduce** Steps to reproduce the behavior:

Visit runwasm.com in dark mode.
Click on one of the internal links in header.
See white flash.

**Expected behavior**
No flashing when navigating pages.

**Screenshots**

https://user-images.githubusercontent.com/22961671/135466053-fe06de2b-7cac-4c92-a958-2eb665a5

[2021-09-30 14:44] kennethcassel opened #77 "Run Code Examples when pressing CMD + Enter or Ctrl + Enter"
**Is your feature request related to a problem? Please describe. **

Yup, when playing with the code editor, it'd be much nicer to run the code via a cmd + enter or ctrl+enter instead of having to use the mouse.

**Describe the solution you'd like**
Run code on CMD + Enter, or CTRL + Enter

**Describe alternatives you've considered**
Using the mouse every time to click the button to run my code

[2021-09-30 17:08] Deep-Codes opened #78 "theme flickers on load"
**Describe the bug** A clear and concise description of what the bug is.

Visiting run-wasm.com will give a flicker in theme (light => dark).

**To Reproduce** Steps to reproduce the behavior:

Visiting run-wasm.com from a new tab.

https://user-images.githubusercontent.com/61158210/135500101-1f9ec3d8-0d6d-40c1-b14f-13002b0e98e6.mp4

**Desktop (please complete the following information):**

- Devi

[2021-09-30 17:10] jsjoeio commented on #78
I think this is a duplicate of #75

[2021-09-30 17:11] Deep-Codes commented on #78
Smh Closing

[2021-09-30 17:11] #78 closed

[2021-09-30 17:12] Deep-Codes commented on #75
@jsjoeio can I take this up?

[2021-09-30 17:26] jsjoeio commented on #75
I'm just a contributor like you but, I think so! Go for it!

[2021-09-30 19:38] shadab14meb346 commented on #68
I was also looking into this, also to get familiar with the codebase.
So I went through the complete flow of how the `TSClient` instances get called with the click of the `Run Code` button.
So for this, I have commented on [this](https://github.com/slipHQ/run-wasm/pull/79) PR.
@KagenLH I can be wrong in the comment in PR. But just wanted to point out my observation.

[2021-09-30 20:20] hatemhosny commented on #77
you may implement it like this (based on [livecodes editor/monaco.ts](https://github.com/live-codes/livecodes/blob/acb92b6f27c2e93bfd138a342b82131ca059204a/src/livecodes/editor/monaco.ts#L221-L237))

[code]

[2021-10-01 00:46] hatemhosny commented on #47
there has been some work going on here:
https://github.com/rust-lang/miri/issues/722

[2021-10-01 04:53] shadab14meb346 commented on #77
Can I take this?

[2021-10-01 09:25] shadab14meb346 commented on #77
I am working on it.
And the way I am approaching it is.
Add an event listener to window.
And when ctrl + enter or cmd + enter is clicked I am firing method `runCode`

[2021-10-01 15:03] devonzara opened #83 "Mobile Layout is Missing Dark Mode Toggle"
**Describe the bug**
Unable to toggle between light/dark mode on mobile devices

**To Reproduce**

1. Visit the page on a small mobile device
2. Frantically search for those sunglasses you never bought

**Expected behavior**

1. Visit the page on small mobile device
2. Have minor discomfort before being able to enable dark mode
3. Rejoice, knowing you've saved money not having to buy those sunglas

[2021-10-01 16:41] #83 closed

[2021-10-01 17:22] jacobjzhang opened #86 "Current Feasibility of Java Support"
Forgive the fact that this doesn't really fall into a bug or feature request, it's more of an inquiry into how feasible it is to support Java-- especially entire client-side.

Looking at the Python and [PHP](https://github.com/slipHQ/run-wasm/pull/57/files) examples, it seems the pattern we've established is to find a language runtime that's been ported to `wasm` (`pyodide` and `php-wasm` respecti

[2021-10-01 17:27] kennethcassel commented on #69
Closed with #79

[2021-10-01 17:27] #69 closed

[2021-10-01 17:40] kennethcassel commented on #68
Closed with #79

[2021-10-01 17:40] #68 closed

[2021-10-01 17:48] jsjoeio commented on #86
Not a Java guy, but I wanted to take a second to say thanks for doing the research and sharing your findings!

[2021-10-02 01:26] #75 closed

[2021-10-02 09:18] Rohithgilla12 commented on #67
@kennethcassel I want to give it a try :D

[2021-10-02 14:24] kennethcassel commented on #67
Go for it @Rohithgilla12!

[2021-10-02 15:21] Rohithgilla12 commented on #67
I tried
[https://github.com/maple3142/wasm-jseval](https://github.com/maple3142/wasm-jseval) and [quickjs-emscripten](https://www.npmjs.com/package/quickjs-emscripten) but not able to succeed, it would be great if anyone can help where to use what.
Thanks

[2021-10-02 15:52] Dhaiwat10 commented on #67
@Rohithgilla12 here: https://github.com/slipHQ/run-wasm/blob/main/src/RunWasmClient.ts#L109

[2021-10-02 15:53] Rohithgilla12 commented on #67
Okay should I install the quickjs library using npm?

[2021-10-02 16:05] Dhaiwat10 commented on #67
We're using [Yarn](https://yarnpkg.com/) as our package manager so you should do `yarn add <pkg>` instead of `npm i <pkg>`.

[2021-10-02 18:27] jsjoeio opened #90 "Rename the example-nextjs -> website"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I think the `example-nextjs` folder could be named more appropriately.

**Describe the solution you'd like** A clear and concise description of what you want to happen.

Rename to `website`

**Describe alternatives you've considered** A cl

[2021-10-03 04:31] Deep-Codes commented on #90
can `with-nextjs` be a good example?

[2021-10-03 08:21] Dhaiwat10 opened #93 "test: Add better tests for TSClient"
**Is your feature request related to a problem? Please describe.**
At the moment, there is only one really _really_ basic test case covering the `TSClient`. There are no test cases covering the actual inner working.

**Describe the solution you'd like**
More test cases that cover the inner working of `TSClient`.

**Describe alternatives you've considered**
No test cases. Not cool.

Happy to work o

[2021-10-03 16:49] shadab14meb346 commented on #90
If the suggested approach in the PR subscription looks good then I can go ahead and work on it.

[2021-10-03 17:21] shadab14meb346 commented on #60
I can try to work on this.
Though it looks a bit challenging so hope, I will get some help from you all.

So the steps I can think of about it.
Part 1

1. Write a class `SQLClient` in the file `RunWasmClient.ts`.
2. This class `SQLClient` will have obliviously have one public method `run`. This method will take code as an argument.
3. The class `SQLClient` will have `constructor` which will have t

[2021-10-03 21:48] mcintyre94 commented on #60
That sounds great to me! I think you've definitely got the right idea :) I'd lean toward putting everything expensive into/called as part of the constructor as much as possible, mostly because it's much easier to make sure it only happens once there.

I think the biggest decision to make in Part 1 is probably which `sql.js` function to use to implement our `run` function. Have you had a chance to

[2021-10-04 12:43] shadab14meb346 commented on #60
So all of the things which we will need to make it work I feel is in the below-mentioned code block [reference](https://github.com/sql-js/sql.js/#usage).

So here's [this](https://sql.js.org/#/?id=example-html-file) is also a very useful example to achieve our goal.

We can run `initSqlJs` in the constructor.
Have a public method `runQuery` which we will assign as this `this.runQuery = db.run` in

[2021-10-04 16:50] jsjoeio commented on #93
^I second this. We need thsi! I didn't manage to get anything beyond the really really basic test case but wanted to at least get the ball rolling 🤣

[2021-10-04 16:52] jsjoeio commented on #90
@Deep-Codes Hmm...I mean this folder is specifically for the runwasm website. the "with-nextjs" is a common pattern when you explaining how to use X with Y,Z tools.

I don't think that would fit in this case.

I think we'll need to wait for @kennethcassel to chime in here!~

[2021-10-04 21:28] mcintyre94 commented on #60
Hmm I think for our use case I'd skip the prepared statements. Generally they'd be a must to protect from malicious input variables, but in our case the database is only in the user's browser and the entire input is untrusted. I don't think we can gain anything from using them.

Based on that usage example I'd go with `exec` because it looks like `run` doesn't return anything. For some inputs we w

[2021-10-05 04:45] shadab14meb346 commented on #60
I will start working on it then.

What do you all suggest about how do we load the wasm binary mentioned in the code block in [this](https://github.com/slipHQ/run-wasm/issues/60#issuecomment-933446129)  comment?
1. Using a CDN?
2. Or have it locally?

[2021-10-05 06:35] mcintyre94 commented on #60
I'd go with a CDN for now. We could consider moving it into the package though when we move to multiple packages (when we merge https://github.com/slipHQ/run-wasm/pull/92), so that the bundle size would only impact sql users. @kennethcassel Does that make sense to you?

[2021-10-05 18:42] kennethcassel commented on #60
Makes sense to me! I think we're pretty close to getting #92 merged in though

[2021-10-08 12:50] Dhaiwat10 opened #96 "Packages have both a `package-lock.json` and a `yarn.lock` file"
**Describe the bug**
Packages have both a package-lock.json and a yarn.lock file. Intentional?

[2021-10-11 14:58] #96 closed, assigned to nobody

[2021-10-20 19:54] kennethcassel opened #100 "Extract the <Editor/> component to the core run-wasm package"
The <Editor> component is a pretty nice default UI, we should make this part of the run-wasm package itself so folks can use the library even easier.

[2021-10-20 22:05] mcintyre94 opened #101 "Calling createTSClient stops console.log functioning"
**Describe the bug** A clear and concise description of what the bug is.

When a page calls `createTSClient` from `@run-wasm/ts` its `console.log` function is silently broken. This is because that functions calls the `TSClient` constructor:

[code]

This is not sandboxed in any way by the browser, so calling it overrides `console.log` with a function that no longer logs messages

**To Reproduce**

[2021-10-20 22:56] mcintyre94 opened #102 "If there are TS errors then the output isn't cleared"
**Describe the bug**

When we run TS code that has type errors, the code doesn't run but the logs also aren't cleared:

[code]

I think this is confusing and it might make more sense to clear the logs if there are type errors

**To Reproduce** Steps to reproduce the behavior:

1. Go to https://www.runwasm.com/ts
2. Run the code `console.log("hello")`
3. The output will be set to `hello`
4. Run the

[2021-10-21 21:49] #102 closed

[2021-10-28 15:11] kennethcassel opened #105 "Add a README to the run-wasm package"
Need to add a readme to the run-wasm package with instructions on how to use the project.

https://www.npmjs.com/package/@run-wasm/run-wasm

[2021-10-28 15:35] #105 closed, assigned to nobody

[2021-11-02 18:52] jsjoeio commented on #90
Not sure if/when I'll get to this so someone else can hop in if they want :)

[2021-11-04 11:28] ntindle commented on #32
Is anyone working on this?

[2021-11-04 15:45] kennethcassel commented on #32
I dont think so @ntindle, feel free to tackle it!

[2021-11-05 16:34] ntindle commented on #32
Is there any docs on integration of new langs or should I play it by ear?

[2021-11-06 01:13] #100 closed

[2021-11-09 23:44] kennethcassel opened #109 "Add Pyodide types to Python package"
Pyodide has types available and we should use those instead `any`

[2021-11-26 05:53] ntindle commented on #32
RE: the above

Go ships with a wasm runner that we should use independent of the compiler (unless the compiler ships their own).  It can be found at `$(go env GOROOT)/misc/wasm/wasm_exec.js` for Linux systems.

This means that we only need to set up a Go -> WASM compiler. Based on the above discussions and my own research, I found a few things.

There are two options above and one I found:
[TinyGo

[2022-03-24 10:08] ademenet opened #111 "Unable to run example"
**Describe the bug** A clear and concise description of what the bug is.

Try to follow instructions from [example `README.md`](https://github.com/slipHQ/run-wasm/blob/main/example-nextjs/README.md) but unable to make it work.

**To Reproduce** Steps to reproduce the behavior:

Just reproduce steps from the `README.md`.

**Expected behavior** A clear and concise description of what you expected to